.App {
  text-align: center;
  background: linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
  color: whitesmoke
}

.logo{
  max-width: 500px;
  max-height: 500px;;
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.field {
  height: 25px;
  border-radius: 5px;
  padding: 2px 5px;
  text-overflow: ellipsis;
}

.form {
  display: grid;
}

.btn {
  background: #5DFDCB;
  height: 35px;
  padding: 0px;
  width: 100px;
  margin: 10px;
  border: 3px solid black;
  border-radius: 10px;
}